menu "CAN SPI interfaces"
	depends on SPI

config CAN_HI311X
	tristate "Holt HI311x SPI CAN controllers"
	depends on CAN_DEV && SPI && HAS_DMA
	---help---
	  Driver for the Holt HI311x SPI CAN controllers.

config CAN_MCP251X
	tristate "Microchip MCP251x and MCP25625 SPI CAN controllers"
	depends on HAS_DMA
	---help---
	  Driver for the Microchip MCP251x and MCP25625 SPI CAN
	  controllers.

config CAN_TCAN4X5X
	tristate "Texas Instruments TCAN4X5X SPI CAN controllers"
	depends on HAS_DMA
	---help---
	  Driver for the Texas Instruments TCAN4X5X SPI CAN controllers.
config CAN_DBG_TCAN4X5X
	tristate "Texas Instruments TCAN4X5X SPI CAN controllers"
	depends on HAS_DMA
	---help---
	  Driver for the Texas Instruments TCAN4X5X SPI CAN controllers.
endmenu
