# SPDX-License-Identifier: GPL-2.0-only
#
# QTI Cloud AI accelerators driver
#

config QAIC
	tristate "QTI Cloud AI accelerators"
	depends on PCI && HAS_IOMEM
	depends on MHI_BUS
	help
	  Enables driver for QTI's Cloud AI accelerator PCIe cards that are
	  designed to accelerate Deep Learning inference workloads.

	  The driver manages the PCIe devices and provides an IOCTL interface
	  for users to submit workloads to the devices.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called qaic.

config QAIC_HWMON
	bool "Qualcomm Cloud AI 100 accelerator telemetry"
	depends on QAIC
	depends on HWMON
	help
	  Enables telemetry via the HWMON interface for Qualcomm's Cloud AI
	  100 accelerator PCIe cards.

	  If unsure, say N.
